<!doctype html>
<html>
  <head>
    <title><%= title %> | Pizza Shop</title>
    <%- include('stylesheets') %>
  </head>
  <body>
    <%- include('header') %>
    <h1>I shall'a make you <%= qty %> pizza with a'da <%= topping %></h1>
    <%- include('javascripts') %>
  </body>
</html>
